/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/assets/custom-styles/general-custom-styles.php wanderers_mkdf_content_styles function */
.mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner { padding-top: 90px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/assets/custom-styles/general-custom-styles.php wanderers_mkdf_content_styles function */
.mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner { padding-top: 90px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/assets/custom-styles/general-custom-styles.php wanderers_mkdf_h1_styles function */
h1 { margin-top: 0px;margin-bottom: 0px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/assets/custom-styles/general-custom-styles.php wanderers_mkdf_h2_styles function */
h2 { margin-top: 0px;margin-bottom: 0px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/assets/custom-styles/general-custom-styles.php wanderers_mkdf_h3_styles function */
h3 { margin-top: 0px;margin-bottom: 0px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/assets/custom-styles/general-custom-styles.php wanderers_mkdf_h4_styles function */
h4 { margin-top: 0px;margin-bottom: 0px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/assets/custom-styles/general-custom-styles.php wanderers_mkdf_h5_styles function */
h5 { margin-top: 0px;margin-bottom: 0px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/assets/custom-styles/general-custom-styles.php wanderers_mkdf_h6_styles function */
h6 { margin-top: 0px;margin-bottom: 0px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #3f3f3f;font-size: 15px;background-color: rgba(255, 255, 255, 1);border-color: rgba(255, 255, 255, 1);padding-top: 18px;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus { color: #1c1c1c;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_button_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit { color: #ffffff;font-size: 14px;padding-top: 0;padding-bottom: 0;height: 58px;line-height: 58px;background-color: rgba(56, 56, 56, 1);}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_button_hover_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #ffcc05;background-color: rgba(0, 0, 0, 1);}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_text_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz { color: #999999;font-size: 15px;line-height: 28px;background-color: rgba(255, 255, 255, 1);border-color: rgba(255, 255, 255, 1);}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_focus_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz:focus { color: #383838;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_button_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit { font-size: 14px;padding-top: 0;padding-bottom: 0;height: 58px;line-height: 58px;padding-left: 65px;padding-right: 65px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_text_styles_3 function */
.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea { height: 173px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_text_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz { color: #808285;font-size: 15px;background-color: rgba(249, 249, 249, 1);border-color: rgba(249, 249, 249, 1);margin-bottom: 15px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_focus_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz:focus { color: #383838;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_button_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit { font-size: 14px;padding-left: 60px;padding-right: 60px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_text_styles_4 function */
.cf7_custom_style_4 textarea.wpcf7-form-control.wpcf7-textarea { height: 138px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_text_styles_4 function */
.cf7_custom_style_4 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_4 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_4 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_4 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_4 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_4 input.wpcf7-form-control.wpcf7-quiz { color: #c2c2c2;font-size: 15px;background-color: rgba(255, 255, 255, 1);border-color: rgba(235, 235, 235, 1);}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_focus_styles_4 function */
.cf7_custom_style_4 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_4 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_4 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_4 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_4 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_4 input.wpcf7-form-control.wpcf7-quiz:focus { color: #808285;border-color: rgba(194, 194, 194, 1);}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_label_styles_4 function */
.cf7_custom_style_4 p { color: #c2c2c2;font-size: 15px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/contactform7/custom-styles/contact-form.php wanderers_mkdf_contact_form7_button_styles_4 function */
.cf7_custom_style_4 input.wpcf7-form-control.wpcf7-submit { padding-left: 20px;padding-right: 20px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/error404/custom-styles/custom-styles.php wanderers_mkdf_404_page_general_styles function */
.error404 .mkdf-content { background-color: #303030;background-image: url("../../../../uploads/2018/02/404-page.jpg");background-position: center 0;background-size: cover;background-repeat: no-repeat;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/error404/custom-styles/custom-styles.php wanderers_mkdf_404_title_styles function */
.error404 .mkdf-page-not-found .mkdf-404-title { color: #ffffff;font-family: Cabin;font-size: 200px;line-height: 200px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/error404/custom-styles/custom-styles.php wanderers_mkdf_404_subtitle_styles function */
.error404 .mkdf-page-not-found .mkdf-404-subtitle { color: #ffffff;font-size: 60px;line-height: 70px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/error404/custom-styles/custom-styles.php wanderers_mkdf_404_text_styles function */
.error404 .mkdf-page-not-found .mkdf-404-text { color: #ffffff;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/footer/admin/custom-styles/footer-custom-styles.php wanderers_mkdf_footer_top_general_styles function */
.mkdf-page-footer .mkdf-footer-top-holder { background-color: #1c1c1c;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/footer/admin/custom-styles/footer-custom-styles.php wanderers_mkdf_footer_bottom_general_styles function */
.mkdf-page-footer .mkdf-footer-bottom-holder { background-color: #1c1c1c;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php wanderers_mkdf_header_top_bar_styles function */
.mkdf-header-box .mkdf-top-bar-background { height: 86px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php wanderers_mkdf_header_top_bar_styles function */
.mkdf-header-box .mkdf-top-bar-background { background-color: rgba(28, 28, 28, 1);}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php wanderers_mkdf_header_top_bar_styles function */
.mkdf-top-bar { background-color: rgba(28, 28, 28, 1);}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/header/admin/custom-styles/header-custom-styles.php wanderers_mkdf_header_menu_area_styles function */
.mkdf-page-header .mkdf-menu-area { background-color: rgba(28, 28, 28, 0);height: 80px !important;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/header/admin/custom-styles/header-custom-styles.php wanderers_mkdf_header_menu_area_styles function */
.mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers { background-color: rgba(11, 11, 11, 0);}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/header/admin/custom-styles/header-custom-styles.php wanderers_mkdf_header_logo_area_styles function */
.mkdf-page-header .mkdf-logo-area { background-color: rgba(0, 0, 0, 0);}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/sidearea/admin/custom-styles/sidearea-custom-styles.php wanderers_mkdf_side_area_slide_from_right_type_style function */
.mkdf-side-menu-slide-from-right .mkdf-side-menu { right: -575px;width: 575px;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/sidearea/admin/custom-styles/sidearea-custom-styles.php wanderers_mkdf_side_area_icon_color_styles function */
.mkdf-side-menu a.mkdf-close-side-menu { color: #9b9b9b;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/sidearea/admin/custom-styles/sidearea-custom-styles.php wanderers_mkdf_side_area_icon_color_styles function */
.mkdf-side-menu a.mkdf-close-side-menu:hover { color: #ffcc05;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/sidearea/admin/custom-styles/sidearea-custom-styles.php wanderers_mkdf_side_area_styles function */
.mkdf-side-menu { background-color: #1c1c1c;background: url("../../../../uploads/2018/02/sidearea-background.jpg");}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/title/admin/custom-styles/title-custom-styles.php wanderers_mkdf_title_area_typography_style function */
.mkdf-title-holder .mkdf-title-wrapper .mkdf-page-title { color: #ffffff;}

/* generated in /home/mikadothemes/wanderers/public_html/wp-content/themes/wanderers/framework/modules/title/admin/custom-styles/title-custom-styles.php wanderers_mkdf_title_area_typography_style function */
.mkdf-title-holder .mkdf-title-wrapper .mkdf-page-subtitle { color: #ffffff;font-size: 22px;line-height: 32px;}

