.mkdf-main-menu>ul>li.mkdf-active-item>a {
	color: #603b12 !important;
}
.mkdf-page-header {
	background: #fff !important;
}
.mkdf-btn.mkdf-btn-solid {
	background-color: #603b12 !important;
}
.mkdf-tours-input-icon {
	color: #603b12 !important;
}
#mkdf-back-to-top>span {

	color: #fff;
	background-color: #603b12 !important;
	border: 1px solid #603b12 !important;
}
.mkdf-page-footer .mkdf-footer-bottom-holder {
	background-color: #fff !important;
}
.mkdf-iwt-icon{
	font-size: 50px;
	color: #603b12;
}
.mkdf-main-menu>ul>li>a>span.item_outer .item_text {
	letter-spacing: 0px !important;
}
.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid>ul>li.mkdf-active-item>a, .mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid>ul>li.mkdf-active-item>h6, .mkdf-mobile-header .mkdf-mobile-nav ul li a:hover, .mkdf-mobile-header .mkdf-mobile-nav ul li h6:hover, .mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor>a, .mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor>h6, .mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item>a, .mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item>h6 {
	color: #603b12;
}
.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opened a {
	color: #603b12;
}